body {
  background-color: #5286c1;
}

.navbar {
  background-color: cornflowerblue;
  padding: 5px 15px;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-template-rows: 160px 155px;
  grid-template-areas:
    "ape fli fli gert sch"
    "ape ver tis tis sch";
  margin-right: 51.35%;
  margin-left: 7%;
  gap: 5px;
}

.appell {
  grid-area: ape;
}
.flieger {
  grid-area: fli;
}
.gert {
  grid-area: gert;
}
.scheich {
  grid-area: sch;
}
.verstappen {
  grid-area: ver;
}
.tisch {
  grid-area: tis;
}

.text {
  background-color: #5a8bc4;
  margin-left: 100px;
  margin-right: 833px;
}
